html, body{
	height:100%;
	overflow:hidden;
}

#wrapper {
  height: 100%;
  width:100%;
}

#messages{
  position:fixed;
  bottom: 6em;
  width:100%;

}

#send{
	position:fixed;
	bottom:0.5em;
}

#send input {
	margin-top:0.3em;
} 

.message{
	background-color:#f1ffff;
	margin: .5em;

}

.message__text{
	margin-left:1em;
}

.message__user{
	font-weight: bold;
	float:left;
	padding-right: .5em;
}

.message__user:after{
	content: ":";
}

.message__time{
	float:left;
	font-size: 0.7em;
	color: #999;
	float: right;
	padding-left: 2em;
	
}


#popup{
	display: none;
}

.popup__center
{
	z-index: 100;
	top: 50%;
	position: absolute;
	left:0;
	right:0;
}

.popup__center-to-left
{
	position: relative;
	right: 50%;
	float: right;
}
.popup__center-to-right
{
	position: relative;
	right: -50%;
}

.popup__text
{
	border: 1px solid grey;
	background-color: #def;
	font-size: 16px;
	padding:10px;
}

.cls{
	clear: both;
}
